* {
  box-sizing: border-box; }

body {
  padding: 20px 60px;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  background-color: #000;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}

.heading {
  background-color: #800000;
}

h1 {
  color: #fff;
}

h1 small {
  color: #fff;
  font-size: .6em;
}

.box-main {
  background-color: #eee;
  border: 1px solid #999;
  width: 100%;
  margin: 20px 0;
  margin-top: 100px;
  padding: 20px;
}

.box {
  background-color: #eee;
  border: 1px solid #999;
  width: 32%;
  margin-right: 2%;
  padding: 20px;
}

.box-third {
  background-color: #eee;
  border: 1px solid #999;
  width: 32%;
  margin-right: 0%;
  padding: 20px;
}

.box-main a.read-more{
  text-decoration: underline;
}

.box a.read-more {
  text-decoration: underline;
}

.box-third a.read-more {
  text-decoration: underline;
}

.footer {
  background-color: #000;
  font-style: italic;
}
