/*insert custom css below*/


body {
  padding-top: 80px;
}

.heading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  border-bottom: 2px solid #222;
}

.heading h1 {
    margin: 10px 0;
}

.box-main {
  float: center;
  width: 100%;
  margin-top: 50px;
  margin-right: 0%;
  margin-bottom: 100px;
}

.box {
  float: left;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 25px;
}

.box-third {
  float: left;
  width: 32%;
  margin-right: 0%;
  margin-bottom: 25px;
}

.box h2 {
}

.box-main img {
  width: 100%;
}

.box img {
  width: 100%;
}

.box-third img {
  width: 100%;
}

.box a.read-more {
  display: block;
  margin-top: 5px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.box-third a.read-more {
  display: block;
  margin-top: 5px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}


.footer {
  bottom: 0;
  left: 0;
  border-top: 2px solid #eee;
  /*padding: 0 20px;*/
  width: 100%;
  margin-top: 1500px;
}
